{
  "presets": [
    "babel-preset-gatsby",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
