@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --doc-height: 100%;
}

html,
body,
#root {
  height: 100vh;
  height: var(--doc-height);
  overscroll-behavior: contain;
  touch-action: none;
}

.btn-action {
  @apply border border-white rounded h-[36px] w-[36px] min-h-[36px] min-w-[36px] sm:h-[42px] sm:w-[42px] sm:min-h-[42px] sm:min-w-[42px] inline-flex items-center justify-center text-lg sm:text-2xl bg-black bg-opacity-70 hover:bg-opacity-100 focus:bg-opacity-100 disabled:opacity-50 disabled:cursor-not-allowed transition-all;
}

/* alert component */
.alert-overlay {
  @apply dark:bg-black bg-white !bg-opacity-90 fixed inset-0;
}

.alert-title {
  @apply mb-1 font-bold text-lg uppercase;
}

.alert-content {
  @apply dark:bg-black bg-white border border-current rounded shadow-md fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[90vw] max-w-[500px] p-4 max-h-[85vh] focus:outline-none;
}

.alert-description {
  @apply text-current mb-4;
}

.alert-action-btn {
  @apply bg-brand-blue p-2 rounded font-bold uppercase inline-flex gap-1 items-center text-white;
}

/* toast component */
.toast-overlay {
  @apply fixed bottom-4 right-4 w-[400px] max-w-[90vw] z-[2147483647] outline-none;
}

.toast-root {
  @apply dark:bg-black bg-white shadow grid border border-current rounded p-4 gap-x-4;
  grid-template-areas: "title action" "description action";
  grid-template-columns: auto max-content;
  align-items: center;
}

.toast-title {
  @apply font-bold uppercase;
  grid-area: title;
}

.toast-description {
  @apply text-current;
  grid-area: description;
}

.toast-action {
  grid-area: action;
}

.toast-btn {
  @apply p-2 rounded font-bold uppercase inline-flex gap-1 items-center text-current;
}

.toast-root[data-state="open"] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.toast-root[data-state="closed"] {
  animation: hide 100ms ease-in;
}
.toast-root[data-swipe="move"] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.toast-root[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.toast-root[data-swipe="end"] {
  animation: swipeOut 100ms ease-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}
