@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --doc-height: 100%;
}

html,
body,
#root {
  height: 100vh;
  height: var(--doc-height);
  overscroll-behavior: contain;
  touch-action: none;
}

.btn-action {
  @apply border dark:border-white border-black text-black dark:text-white rounded h-[36px] w-[36px] min-h-[36px] min-w-[36px] sm:h-[42px] sm:w-[42px] sm:min-h-[42px] sm:min-w-[42px] inline-flex items-center justify-center text-lg sm:text-2xl dark:bg-black bg-white  bg-opacity-70 hover:bg-opacity-100 focus:bg-opacity-100 disabled:opacity-50 disabled:cursor-not-allowed transition-all;
}

